/*---Other screen---*/

@media only screen and (min-width: 992px) {
    .music-player-wrap {
        width: 360px;
    }


    .music-play .music-control {
        cursor: pointer;
    }

    .btn-mode, .btn-list {
        cursor: pointer;
    }
}

/*-- Large --*/

@media only screen and (max-width: 991px) and (min-width: 850px) {


    .wrap-time {
        margin-bottom: 20px;
    }

    .music-player-wrap {
        width: 360px;
        box-shadow: 0px 10px 25px -15px rgb(0 0 0 / 75%);
    }

    .music-play .info .name {
        font-size: 1.4rem;
    }

    .music-play .music-control .btn-play i {
        font-size: 1.2rem;
    }

    .img-action-item {
        height: 120px;
        width: 120px;
    }
}

/*-- Medium --*/

@media only screen and (max-width: 849px) and (min-width: 768px) {

    .music-player-wrap {
        width: 360px;
    }

    .btn-mode, .btn-list {
        height: 45px;
        width: 45px;
    }

    .title-playing p {
        font-size: 0.9rem;
    }

    .wrap-now-playing {
        padding-top: 40px;
    }

    .music-play .info {
        height: 150px;
    }

    .music-play .music-control :nth-child(1) {
        font-size: var(--icon--md-767);

    }

    .music-play .music-control :nth-child(5) {
        height: 20px;
        width: 20px;
        font-size: var(--icon--md-767);
    }

    .music-play .info .name {
        font-size: 1.4rem;
    }

    .music-play .music-control .btn-play {
        height: 50px;
        width: 50px;
    }

    .music-play .music-control .btn-play i {
        font-size: 1.2rem;
        top: 0;
    }
}

/*-- Small --*/

@media only screen and (max-width: 767px) and (min-width: 576px) {

    .music-player-wrap {
        width: 360px;
    }

    .btn-mode, .btn-list {
        height: 38px;
        width: 38px;
    }

    .title-playing p {
        font-size: 0.9rem;
    }

    .wrap-now-playing {
        padding-top: 40px;
    }

    .music-play .avatar img {
        width: 220px;
        height: 220px;
    }

    .img-shadow {
        width: 220px;
        height: 220px;
    }

    .music-play .info {
        height: 140px;
    }

    .music-play .music-control {
        height: 130px;
    }

    .music-play .music-control {
        width: 100%;
    }

    .music-play .music-control :nth-child(1) {
        font-size: var(--icon--md-767);
    }

    .music-play .music-control :nth-child(5) {
        height: 20px;
        width: 20px;
        font-size: var(--icon--md-767);
    }

    .music-play .info .name {
        font-size: 1.3rem;
    }

    .music-play .music-control .btn-play {
        height: 50px;
        width: 50px;
    }

    .music-play .music-control .btn-play i {
        font-size: 1.1rem;
    }

    .copyright-vip-coder {
        font-size: 0.8rem;
    }
}

/*-XSM-*/

@media only screen and (max-width:575px) and (min-width: 401px) {

    .container {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .music-player-wrap {
        width: 360px;
    }

    .btn-mode, .btn-list {
        height: 38px;
        width: 38px;
    }

    .title-playing p {
        font-size: 0.9rem;
    }

    .wrap-now-playing {
        padding-top: 40px;
    }

    .wrap-time {
        font-size: 0.7rem;
    }

    .music-play .avatar img {
        width: 220px;
        height: 220px;
    }

    .img-shadow {
        width: 220px;
        height: 220px;
    }

    .music-play .info {
        height: 140px;
    }

    .music-play .music-control {
        height: 130px;
    }

    input[type=range]::-webkit-slider-runnable-track {
        height: 5px;
    }

    input[type=range]::-webkit-slider-thumb {
        margin-top: -0.6rem;
        height: 23px;
        width: 23px;
    }

    .music-play .music-control {
        width: 100%;
    }

    .music-play .music-control :nth-child(1) {
        font-size: var(--icon--sm-575);

    }

    .music-play .music-control :nth-child(2) {
        font-size: var(--icon--sm-575);
    }

    .music-play .music-control :nth-child(4) {
        font-size: var(--icon--sm-575);
    }

    .music-play .music-control :nth-child(5) {
        height: 20px;
        width: 20px;
        font-size: var(--icon--sm-575);
    }

    .music-play .info .name {
        font-size: 1.4rem;
    }

    .music-play .music-control .btn-play {
        height: 45px;
        width: 45px;
    }

    .music-play .music-control .btn-play i {
        font-size: 1rem;
        margin-top: 1px;
    }

    .copyright-vip-coder {
        font-size: 0.8rem;
    }

    .music-list ul {
        height: 330px;
    }

    .name-song-acttion {
        font-size: 0.8rem;
    }
}

/*-XXSM-*/

@media only screen and (max-width: 400px) {
    .container {
        width: 100vw;
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .music-player-wrap {
        width: 350px;
    }

    .btn-mode, .btn-list {
        height: 38px;
        width: 38px;
    }

    .title-playing p {
        font-size: 0.9rem;
    }

    .wrap-now-playing {
        padding-top: 40px;
    }

    .wrap-time {
        width: 100%;
        font-size: 0.7rem;
    }

    .music-play .avatar img {
        width: 210px;
        height: 210px;
    }

    .img-shadow {
        width: 210px;
        height: 210px;
    }

    .music-play .info {
        height: 140px;
    }

    .music-play .music-control {
        height: 110px;
    }

    input[type=range]::-webkit-slider-runnable-track {
        height: 5px;
    }

    input[type=range]::-webkit-slider-thumb {
        margin-top: -0.6rem;
        height: 23px;
        width: 23px;
    }

    .music-play .music-control {
        width: 100%;
    }

    .music-play .music-control :nth-child(1) {
        font-size: var(--icon--sm-400);

    }

    .music-play .music-control :nth-child(5) {
        height: 20px;
        width: 20px;
        font-size: var(--icon--sm-400);
    }

    .music-play .music-control :nth-child(2) {
        font-size: var(--icon--sm-400);
    }

    .music-play .music-control :nth-child(4) {
        font-size: var(--icon--sm-400);
    }

    .music-play .info .name {
        font-size: 1.3rem;
    }

    .music-play .music-control .btn-play {
        height: 40px;
        width: 40px;
    }

    .music-play .music-control .btn-play i {
        font-size: 0.9rem;
        top: 0;
    }

    .copyright-vip-coder {
        font-size: 0.8rem;
        justify-content: space-around;
    }

    input[type=range]::-webkit-slider-thumb {
        width: 18px !important;
        height: 18px !important;
        margin-top: -7px !important;
    }

    .music-list ul {
        height: 320px;
    }

    .name-song-acttion {
        font-size: 0.8rem;
    }
}